@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

 body{ 
    background-image: url('b2.jpg');
    width: 100%;
    margin: 0px;
     }
            /* start header*/
            .container{
                width: 100vw;
            }
            .header .slider .title{ 
                border: 2px solid rgb(0, 0, 0);
                padding:0%;;
                height: auto;
                text-align: center;
                }

            .header .slider .title h2{
                margin: 0px auto;
                font-size:  60px;
                width: 100vw;
                padding: 5px 0;
               
            }                                  
            .header .slider{
                margin-top: 0.1%;
                background-image: url(imgs/2.jpg);
                background-size: 100% 100%;
                background-position: 0%;
                animation: cards 15s linear infinite;
                animation-direction: alternate;
                background-color: #eee;
                background-repeat: no-repeat;
                height: 50vh;
                border:2px solid black;

            }
@keyframes cards 
{
    0%{background-image: url("slide-1.jpg");}

    35%{background-image: url("food2.jpg");}
    
    70%{background-image: url("food.jpg");}
    
    100%{background-image: url("slide-2.jpg");}
    
}


         




            .topnav {
                overflow: hidden;
                background-color: black;
              }
              
              .topnav a {
                float: left;
                display: block;
                color:  #fec107;
                text-align: center;
                padding: 18px 80px;
                text-decoration: none;
                font-size: 18px;
              }
              
              .topnav a:hover {
                background-color: #fec107;
                color: black;
              }
              
              
              .topnav .icon {
                display: none;
              }
              
              @media screen and (max-width: 1240px) {
                .topnav a:not(:first-child) {display: none;}
                .topnav a.icon {
                  float: right;
                  display: block;
                }
              }
              
              @media screen and (max-width: 1240px) {
                .topnav.responsive {position: relative;}
                .topnav.responsive .icon {
                  position: absolute;
                  right: 0;
                  top: 0;
                }
                .topnav.responsive a {
                  float: none;
                  display: block;
                  text-align: left;
                }
              }
            /* end header*/


           
           /*start description*/

.choose{
    margin:0%;
    padding-top: 10px;
    padding-bottom: 20px;
    background-image: url('b2.jpg');
    height:auto;
    width: auto ;
    text-align: center;
}

.description .choose h2 {
                font-size: 30px;
                font-family: monospace;
                font-weight: 1200;
                letter-spacing: 5px;
                text-transform: capitalize;
                text-decoration: underline;
                color: rgb(255, 253, 253);
}

            .description .choose p{
                text-indent: 90px;
                text-transform: capitalize;
                font-size: 21px;
                font-family: monospace;
                font-weight: 500;
                letter-spacing: 1px;
                color: rgb(255, 255, 255);

}

           /*end description*/
           /*start table*/
           table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 99%;
            border: 4px solid #fec107;
          }
          th, td {
            font-size: 25px;
            text-align: left;
            padding: 10px;
            color: white;
            border-bottom: 3px solid #fec107;
          }

                    /*start portfolio*/
        .portfolio{
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
            }

.portfolio h2{
                font-size: 30px;
                font-family: cursive;
                font-weight: 1200;
                letter-spacing: 5px;
                text-transform: capitalize;
                color: #444
}

.portfolio p{
                text-transform: capitalize;
                font-size: 21px;
                font-family: monospace;
                font-weight: 500;
                letter-spacing: 1px;
                color: #555
}

        .portfolio .ourwork{
            overflow: hidden;
        }

        .portfolio .ourwork > div {
            float: left;
            width: 33.33333%;
            margin-bottom: 15px;    
        }

        .portfolio .ourwork > div img {
            width: 92%;
            margin: 10px;
            padding: 3px;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 10px 10px 12px #ccc;
}

                    /*end portfolio*/


                    /*start contact us*/

.contact {
    background-color: #252f31;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 70px
}
.contact .info{
     float: left;
    width: 50%;
    margin-right: 5%;
}

.contact h2 {
    color: #fff;
    margin-left: 30px;
}

.contact p {
    color: #6A6E71;
    margin-left: 30px;
    line-height: 1.7;
}

.contact p strong {
    color: #d1d6da
}


.contact .form{
    float: left;
    width: 45%;
}

.contact .form label{
    display: block; 
    color: #d1d6da;
    margin: 10px 0px;
}

.contact .form input[type="text"]{
    background-color: #4b5557;
    color: #fff;
    padding: 10px;
    border: 0;
    width: 80%
}


.contact .form textarea{
    background-color: #4b5557;
    color: #fff;
    padding: 10px;
    border: 0;
    width: 80%;
    height: 300px;
}

.contact .form input[type="submit"]{
    background-color: #191e22;
    color:#fff;
    padding: 10px 20px;
    border:0;
    margin-top: 10px;
}

                    /*end contact us*/

/*start footer*/

.footer {
    background-color: #191E22;
    color: #6A6E71;
    padding: 20px 0px;
    text-align: center
}

.footer ul{
    list-style: none;
    padding-left: 0;
    margin: 10px 0 0;
}

.footer ul li{
    display: inline-block;
}
/*end footer*/























